.header_component {
   height: 300vh;
   position: relative
}

.header_content-wrapper {
   height: 100vh;
   justify-content: center;
   align-items: center;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   overflow: hidden
}

.header_content {
   height: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
   position: relative
}

.header_background-images {
   z-index: -1;
   position: absolute;
   top: 0%;
   bottom: 0%;
   left: 0%;
   right: 0%
}
.image-overlay-layer {
   z-index: 1;
   background-color: rgba(0,0,0,.20);
   position: absolute;
   top: 0%;
   bottom: 0%;
   left: 0%;
   right: 0%
}


.header_images-layout {
   width: 100%;
   height: 100%;
   grid-column-gap: 24px;
   grid-row-gap: 24px;
   grid-template-rows: auto;
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-columns: 1fr;
   display: grid;    
   transform: scale(3.2);

}

.header_image-wrapper {
   border-radius: 1rem;
   position: relative;
   overflow: hidden
}

.header_image-wrapper.hide-mobile-landscape {
   border-radius: 1rem
}

.header_image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-image: none;
   border-radius: 1px;
   position: absolute;
   top: 0%;
   bottom: 0%;
   left: 0%;
   right: 0%
}

// 
.layout_heading-list {
   height: 86px;
   overflow: hidden
}

.layout_component {
   height: 500vh;
   position: relative;
}

.layout_content {
   height: 100vh;
   justify-content: center;
   align-items: center;
   display: flex;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   overflow: hidden;
}

.layout_heading {
   white-space: nowrap;
}
//
.work_grid {
   @apply flex flex-col;
}



.home {
   &__offer {
      .spacer,
      .wrapper {
      width: 100%;
      }
      .card-wrapper {
      width: 100%;
      }
      .card-wrapper:last-child {
      margin-bottom: 0;
      }

      .cards {
      margin: 0 auto;
      .card {

         min-height: 100vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         &.work_card {
            .grid {
            .col-first {
               @apply bg-black80
            }
            }
         } 
     }
      }

   }
   &__case-study {
      .text-case-study {
         @apply text-[clamp(1rem,0.313vw+0.75rem,1.125rem)] leading-[clamp(1.5rem,0.469vw+1.125rem,1.688rem)];
      }
      .icon {
         &:nth-child(odd) {
            &:after {
               content: url("data:image/svg+xml,%3Csvg width='2' height='50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 49.5V0' stroke='%23F9B208' stroke-width='2' stroke-linejoin='round' stroke-linecap='round' stroke-dasharray='4 4'/%3E%3C/svg%3E");
               @apply h-half w-0.5 absolute top-4 left-1/2 -translate-x-1/2 -z-10 rotate-180;
               
            }
         }
         &:nth-child(even) {
            &:after {
               content: url("data:image/svg+xml,%3Csvg width='2' height='50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 49.5V0' stroke='%23F9B208' stroke-width='2' stroke-linejoin='round' stroke-linecap='round' stroke-dasharray='4 4'/%3E%3C/svg%3E");
               @apply h-half w-0.5 absolute -top-8 left-1/2 -translate-x-1/2 -z-10;
               
            }
         }
      }
   }
   &__testimonials {
      .swiper {
         overflow: visible;
      }
      $slide: ".swiper-slide";
      .swiper-slide {
         opacity: 0;
         visibility: hidden;
         transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
         &-active {
         opacity: 1;
         visibility: visible;
         }
      }
   }
   &__contact {
      @apply py-20;
      .text-separate {
         h2 {
            @apply flex flex-col;
         }
         span {
            @apply flex w-fit;
            @apply text-primary20;
            &:first-child {
               @apply text-primary100;
            }
            &:nth-child(2) {
               @apply text-primary60;
            }
         }
      }
   }
}

.marquee {
   overflow: hidden;
   &__inner {
      @apply min-h-[250px] flex items-center;
      @apply flex-row flex-auto w-fit;
   }
   &__part {
      @apply shrink-0 flex items-center text-h4 font-secondary text-primary100;
      &::after {
         content: "";
         @apply w-4 h-4 bg-primary60 rounded-full flex mx-2;
      }
   }
}
.marquee-image {
   &__inner {
      @apply flex items-center justify-center gap-6;
      @apply flex-row flex-auto w-fit ease-in-out transition duration-150;
      
      // &.toright {
      //    @apply -translate-x-1/2;
      // }
   }
   &__part {
      @apply max-h-[302px] w-[360px] flex shrink-0 items-center;
      
   }
}

