.form {
    
    &__grid {
        @apply grid grid-cols-10 gap-3 lg:gap-5;
        &-col {
            @apply col-span-full grid gap-3 lg:gap-5 items-center;
            input, textarea {
                @apply border rounded p-3 lg:p-[18px] text-sm lg:text-base box-border w-full;
                @apply transition-all duration-500 ease-in-out;
                &::placeholder {
                    @apply text-color1/50;
                }
                
                &:not(:placeholder-shown) {
                    @apply border-color3
                }
                &:placeholder-shown {
                    @apply border-colorObramowanie;
                }
                &:focus, &:hover {
                    @apply border-color3 outline-0;
                }
             
    
            }
            textarea {
                @apply h-[140px];
            }
            &--col-3 {
                @apply grid-cols-1 lg:grid-cols-3;
            }
            &--col-12 {
                @apply grid-cols-1;
            }
            &--col-6 {
                @apply grid-cols-1 lg:grid-cols-2;
            }
        }
        
    }
}

input[type="checkbox"] {
    display: none;
}

// validation errors ourput bottom of form
.wpcf7-not-valid-tip {
    @apply mt-0 absolute text-xs left-0 -top-4 font-bold;
    @apply transition-all duration-500 ease-in-out;
}
.wpcf7-response-output {
    @apply text-color1 mt-14 border-color2 rounded border w-fit mx-auto bg-white transition-all text-xs md:text-base #{!important};
}

.wpcf7-validation-errors {
    @apply text-color1  mt-14 border-red-900 rounded border w-fit mx-auto bg-white transition-all text-xs md:text-base #{!important};

}
.wpcf7-list-item {
    @apply m-0;
}
.wpcf7-form-control-wrap {
    @apply flex h-auto;
}
//checkboxes
.wpcf7-acceptance {
   @apply relative text-xs #{!important};
   label span:before {
    @apply animate-scaleUp;
       @apply flex items-center justify-center transition;
       @apply h-[34px] w-[32px];
       @apply shrink-0;
       @apply relative;
       @apply mr-2.5 lg:mr-[15px];
       content: "";
       background-image: url("data:image/svg+xml,%3Csvg width='32' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='30.517' height='33' rx='3.5' fill='%23fff' stroke='%230D0E16'/%3E%3C/svg%3E");
       @apply bg-no-repeat bg-center;
       
   }
   a {
        @apply underline transition-colors duration-500;
        &:hover {
            @apply text-color4;
        }
   }
   .wpcf7-list-item-label {
       @apply cursor-pointer flex items-center;
   }
}
.wpcf7-acceptance label > input:checked + span:before {
    @apply animate-scaleUp;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='34' viewBox='0 0 32 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='30.5175' height='33' rx='3.5' fill='white' stroke='%230D0E16'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5649 15L8.71094 17L14.2728 23L23.5427 13L21.6887 11L14.2728 19L10.5649 15Z' fill='%230D0E16'/%3E%3C/svg%3E%0A");
}